---
---

@import "{{ site.theme }}";

body {
  color-scheme: dark;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 6px 12px;
  border: 1px solid #444;
}

tr:nth-child(even) {
  background-color: rgba(255,255,255,0.05);
}

footer {
  display: none;
}

#header nav ul li.fork a {
  margin-right: 30px;
}
